
<div class="panel panel-primary span-5">
  <div class="panel-heading"><h4>Invite Team Members to Mingle.camp!</h4></div>
  	<div class="panel-body">
 		<%= render 'form' %>
  	</div>
</div>

<!-- <%= link_to 'Back', invites_path %> -->
