<h2>Welocme <%= @invite.email %> to Mingle.camp! </h2>

<p>Thankyou for registering at Mingle.camp. Now you need to confirm this email address  by clicking the link below. </p>

 <p><%= link_to "Welcome to Mingle.camp", @link, class: "navbar-brand" %></p>

 <p>Regards!</p>
<p> Team Mingle.camp</p>


